<form name="settingsForm" type="{{type}}">
    <a class="close">x</a>
    <h2>Settings</h2>
    <input type="hidden" name="index" value="{{index}}"/>
    <input type="hidden" name="key" value="{{key}}"/>
    <label for="newkey">Key</label>
    <select name="newkey">

        <option value="C">C major</option>
        <option value="C#">C# major</option>
        <option value="Db">Db major</option>
        <option value="D">D major</option>
        <option value="D#">D# major</option>
        <option value="Eb">Eb major</option>
        <option value="E">E major</option>
        <option value="F">F major</option>
        <option value="F#">F# major</option>
        <option value="Gb">Gb major</option>
        <option value="G">G major</option>
        <option value="G#">G# major</option>
        <option value="Ab">Ab major</option>
        <option value="A">A major</option>
        <option value="A#">A# major</option>
        <option value="Bb">Bb major</option>
        <option value="B">B major</option>

    </select>

    <input type="button" class="formSubmit" value="save" onclick="Chordynator.Map.Forms.saveSettings({{index}}, '{{key}}')">
    <input type="button" class="formSubmit" value="copy" onclick="Chordynator.Map.Forms.copyMap({{index}})">
    <input type="button" class="formSubmit" value="remove" onclick="Chordynator.Map.Forms.deleteMap({{index}})">

</form>